# App
PORT=XXXX

# Database 
MONGO_URI=mongodb://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Google APIS
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CALLBACK=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Client 
CLIENT_URL=http://xxxxxxxxxxxxxxxxxxxx
CLIENT_ERROR_URL=http://xxxxxxxxxxxxxxxxxxxx